@import "tailwindcss";

:root {
    /* Palette */
    --bg-0: #001510;
    --bg-1: #002924;
    --secondary: #1fa97a;
    --primary: #00f27b;
    --text: #e5fff2;

    /* Typo fallback */
    --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
        Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* background: var(--bg-0); */
    color: var(--text);

    /* Texte courant */
    font-family: var(--font-sans);
}

/* 👇 Cyform UNIQUEMENT pour les h1 */
h1,
h2 {
    text-align: center;
    font-family: var(--font-cyform), var(--font-sans);
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory; /* scroll “aimanté” */
    overflow-y: scroll;
}

section {
    scroll-snap-align: start; /* chaque section s’aligne */
    scroll-snap-stop: always; /* évite de sauter 2 sections d’un coup */
}
